---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";

const data = await fetch("https://ylexooenrhrqjqzuypjf.supabase.co/rest/v1/balcombe_productlist", {
  method: "GET",
  headers: {
    // Fetch data fra API'en asynkront og gem det i variablen 'data'
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlsZXhvb2VucmhycWpxenV5cGpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NjIzNTMsImV4cCI6MjAzMTQzODM1M30.kH5EGQ0TrxURi_pUejtr_sqhUviIryvRKXetR_LVdSs",
  },
}).then((res) => res.json());
console.log(data);
---

<!-- // Layout og indhold -->
<MainLayout title="SHOP">
  <Banner title="ALL ITEMS" />
  <!-- Filtrering af produkter -->

  <div class="brod_filter">
    <ul class="brodkrumme">
      <li><a href="/">HOME</a></li>
      <li><a href="allitems">SHOP</a></li>
    </ul>

    <ul class="filter">
      <li><a class="filterbutton active" data-category="all">ALL ITEMS (12)</a></li>
      <li><a class="filterbutton" data-category="tops">TOPS (2)</a></li>
      <li><a class="filterbutton" data-category="pants">PANTS (4)</a></li>
      <li><a class="filterbutton" data-category="accessories">ACCESSORIES (2)</a></li>
      <li><a class="filterbutton" data-category="hoodies">HOODIES/SWEATSHIRTS (4)</a></li>
    </ul>
  </div>

  <!-- Card-komponent for hvert produkt -->
  <section class="grid-container" id="articles-container">
    {data.map((item) => <Card data={item} key={item.id} />)}

    <!-- Stort billede som ligger i siden  -->
    <div class="stortbillede"><img src="/img/testall.webp" alt="" /></div>
  </section>

  <p>NO MORE PRODUCTS</p>

  <!-- JavaScript til filtrering -->
  <script>
    // Vælg alle elementer med klassen "filterbutton"
    const btns = document.querySelectorAll(".filterbutton");
    btns.forEach((btn) => {
      // Tilføj en eventlistener til hver knap og kald filterBy-funktionen
      btn.addEventListener("click", () => filterBy(btn));
    });

    // Funktion til at filtrere og vise/skjule artikler baseret på det valgte filter
    function filterBy(clickedBtn) {
      // Fjern 'active' klassen fra alle knapper
      btns.forEach((btn) => btn.classList.remove("active"));

      // Tilføj 'active' klassen til den klikkede knap
      clickedBtn.classList.add("active");

      // Filtrer artikler baseret på det valgte filter
      const cat = clickedBtn.dataset.category;

      // Ændrer billede for hver category
      const categoryImages = {
        all: "/img/testall2.webp",
        tops: "/img/tops.webp",
        pants: "/img/pants.webp",
        accessories: "/img/accessories.webp",
        hoodies: "/img/hoodie.webp",
      };

      document.querySelector(".stortbillede img").src = categoryImages[cat] || categoryImages["all"];

      // Ændrer titlen baseret på den valgte kategori
      const categoryTitles = {
        all: "ALL ITEMS",
        tops: "TOPS",
        pants: "PANTS",
        accessories: "ACCESSORIES",
        hoodies: "HOODIES/SWEATSHIRTS",
      };

      const newTitle = categoryTitles[cat] || "SHOP";
      document.title = newTitle; // Opdaterer dokumenttitlen
      document.querySelector(".banner-title").textContent = newTitle; // Opdaterer bannertitlen

      document.querySelectorAll("article.grid-item").forEach((art) => {
        if (art.dataset.category === cat || cat === "all") {
          art.classList.remove("hide");
        } else {
          art.classList.add("hide");
        }
      });
    }
  </script>
</MainLayout>
<Footer />

<style>
  /* filter */
  .brod_filter {
    display: flex;
    width: 100%;
  }
  ul.filter {
    list-style: none;
    position: absolute;
    right: 30px;
    margin-left: 30%;
    margin-top: 26px;
  }
  ul.filter li {
    display: inline;
    font-size: 15px;
  }

  ul.filter li + li:before {
    padding: 2px;
    color: #ab1f27;
    content: "/\00a0"; /* fundet på nettet*/
  }

  ul.filter li a {
    color: #ab1f27;
    text-decoration: none;
    font-family: Avenir Next;
    font-size: 10px;
    cursor: pointer;
  }

  ul.brodkrumme {
    padding: 26px 25px;
    list-style: none;
  }

  ul.brodkrumme li {
    display: inline;
    font-size: 15px;
  }

  ul.brodkrumme li + li:before {
    padding: 2px;
    color: #ab1f27;
    content: "/\00a0"; /* fundet på nettet*/
  }

  ul.brodkrumme li a {
    color: #ab1f27;
    text-decoration: none;
    font-family: Avenir Next;
    font-size: 10px;
  }

  @media screen and (min-width: 1250px) {
    ul.filter li a {
      font-size: 20px;
    }
    ul.brodkrumme li a {
      font-size: 20px;
    }

    ul.filter li {
      display: inline;
      font-size: 20px;
    }
    ul.brodkrumme li {
      display: inline;
      font-size: 20px;
    }

    ul.filter {
      right: 40px;
    }
  }

  /* tekst */

  p {
    font-family: Avenir Next;
    font-size: 12px;
    color: #ab1f27;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 20px;
  }
  h1 {
    font-family: Avenir Next;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ab1f27;
  }

  /* grids  */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
    gap: 5px;
    margin-top: 25px;
  }
  .grid-item {
    text-align: center;
    padding: 10px;
    background-color: var(--background-color);
  }

  /* billeder  */
  .image_front {
    width: 100%;
    height: auto;
    scale: 100%;
  }

  .stortbillede img {
    display: none;
  }

  @media screen and (min-width: 800px) {
    /* billeder  */

    .stortbillede {
      grid-column: 3/-1;
      grid-row: 1/3;
      outline: 5px solid #ab1f27;
    }

    .stortbillede img {
      width: 100%;
      display: block;
    }

    /* grids */
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-bottom: 100px;
      gap: 5px;
      margin-top: 10px;
    }

    /* knap */

    .filterbutton {
      padding: 10px;
      font-size: 15px;
      margin: 5px 0;
    }
  }
</style>
