---
import MainLayout from "../layouts/MainLayout.astro";

import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";

const data = await fetch("https://ylexooenrhrqjqzuypjf.supabase.co/rest/v1/balcombe_productlist", {
  method: "GET",
  headers: {
    // Fetch data fra API'en asynkront og gem det i variablen 'data'
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlsZXhvb2VucmhycWpxenV5cGpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NjIzNTMsImV4cCI6MjAzMTQzODM1M30.kH5EGQ0TrxURi_pUejtr_sqhUviIryvRKXetR_LVdSs",
  },
}).then((res) => res.json());
console.log(data);
---

<!-- // Layout og indhold -->
<MainLayout title="SHOP">
  <Banner title="Den her skal ændres" />
  <!-- Filtrering af produkter -->
  <div class="filter">
    <a class="filterbutton active" data-category="all">ALL ITEMS (12)</a>
    <span class="separator">/</span>
    <a class="filterbutton" data-category="tops">TOPS (2)</a>
    <span class="separator">/</span>
    <a class="filterbutton" data-category="pants">PANTS (4)</a>
    <span class="separator">/</span>
    <a class="filterbutton" data-category="accessories">ACCESSORIES (2)</a>
    <span class="separator">/</span>
    <a class="filterbutton" data-category="hoodies">HOODIES/SWEATSHIRTS (4)</a>
  </div>

  <!-- Card-komponent for hvert produkt -->
  <section class="grid-container" id="articles-container">
    {data.map((item) => <Card data={item} key={item.id} />)}
  </section>

  <!-- JavaScript til filtrering -->
  <script>
    // Vælg alle elementer med klassen "filterbutton"
    const btns = document.querySelectorAll(".filterbutton");
    btns.forEach((btn) => {
      // Tilføj en eventslistener til hver knap og kald filterBy-funktionen
      btn.addEventListener("click", () => filterBy(btn));
    });

    // Funktion til at filtrere og vise/skjule artikler baseret på det valgte filter

    function filterBy(clickedBtn) {
      // Fjern 'active' klassen fra alle knapper
      btns.forEach((btn) => btn.classList.remove("active"));

      // Tilføj 'active' klassen til den klikkede knap
      clickedBtn.classList.add("active");

      // Filtrer artikler baseret på det valgte filter
      const cat = clickedBtn.dataset.category;
      document.querySelectorAll("article.grid-item").forEach((art) => {
        console.log(art.dataset.category);
        if (art.dataset.category === cat || cat === "all") {
          art.classList.remove("hide");
        } else {
          art.classList.add("hide");
        }
      });
    }
  </script>

  <style>
    h1 {
      font-family: Avenir Next;
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      color: #ab1f27;
    }
    /* Styling for den valgte filtreringsknap */
    .filterbutton.active {
      color: var(--cta-text);
      border-bottom: 1px solid var(--cta-text);
    }

    /* id til javascript */
    .hide {
      display: none;
    }

    .filter {
      list-style: none;
      position: absolute;
      right: 30px;
      margin-left: 30%;
      font-size: 15px;
      padding: 2px;
      color: #ab1f27;
      text-decoration: none;
      font-family: Avenir Next;
      font-size: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      cursor: pointer;
    }

    /* filter mobil */
    .filter {
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      padding-bottom: 100px;
    }
    .grid-item {
      text-align: center;
      padding: 10px;
      background-color: var(--background-color);
    }

    .image_front {
      width: 100%;
      height: auto;
      scale: 100%;
    }

    .filterbutton:hover {
      cursor: pointer;
    }

    .filterbutton {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 13px;
      overflow: hidden;
      letter-spacing: 1.5px;
      padding: 10px;
    }

    @media screen and (min-width: 767px) {
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 100px;
        gap: 40px;
        margin: 0 auto;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 25px;
      }
      .filterbutton {
        padding: 10px;
        font-size: 15px;
        margin: 5px 0;
      }
    }
  </style>
</MainLayout>
