---
import Menu from "../pages/Menu.astro"; 
import About from "../pages/About.astro";
import Cookies from "../pages/Cookies.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <Menu />
	<About/>
	<Cookies/>
  </body>
</html>


