:root {
  --red: #ab1f27;
  --black: #000000;
  --background-color: #ffffff;
}

@font-face {
  font-family: "MyFont";
  src: url("/NeonVampire.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
#articles-container .grid-item.hide {
  display: none;
}
