---
const { title } = Astro.props;
---

<hr />
<h1>{title}</h1>
<hr />

<style>
  h1 {
    font-family: Avenir Next;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
  }

  hr {
    color: #ffffff;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 90px;
    }
    hr {
      width: 100%;
    }
  }
</style>
