---
const { title } = Astro.props;
import Styles from "../Style/styles.css";
---

<hr />
<div class="banner">
  <h1 class="banner-title">ABOUT</h1>
</div>
<hr />
<style>
  h1 {
    font-family: "AvenirNext";
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    padding: 20px;
  }

  hr {
    color: #ffffff;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 90px;
    }
    hr {
      width: 100%;
      background-color: #ffffff;
      height: 2px;
      border: none;
    }

    .banner-title {
      margin: 0;
    }
  }
</style>
