---
const { title } = Astro.props;
---

<hr />
<div class="banner">
  <h1 class="banner-title">{title}</h1>
</div>
<hr />

<style>
  h1 {
    font-family: "AvenirNext";
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #ab1f27;
    padding: 20px;
  }

  hr {
    color: #ab1f27;
  }

  @media screen and (min-width: 800px) {
    h1 {
      font-size: 90px;
    }
    hr {
      width: 100%;
      background-color: #ab1f27;
      height: 2px;
      border: none;
    }
  }
</style>
