<hr />
<div class="stortgrid">
  <div class="mobil">
    <p>NEWS ON DROPS, EVENTS AND STUFF! SIGN UP FOR OUR E-MAIL AND BE THE FIRST TO KNOW OUR SPECIAL OFFERS!</p>
    <input type="text" id="email" name="email" value="ENTER E-MAIL" aria-label="enter mail" />
    <input type="submit" id="subscribe" value="SUBSCRIBE" />
  </div>

  <div class="grid">
    <ul>
      <li>DELIVERY AND RETURN</li>
      <li>CONTACT</li>
      <li>PRIVACY</li>
      <li>TERMS AND CONDITIONS</li>
      <li>COOKIES</li>
    </ul>
    <ul class="some">
      <li><a href="https://www.instagram.com/balcombe_life/">INSTAGRAM</a></li>
      <li><a href="https://www.tiktok.com/@balcombe.life">TIKTOK</a></li>
      <li><a href="https://www.facebook.com/balcombelife">FACEBOOK</a></li>
    </ul>
  </div>
  <div class="desktop">
    <p>NEWS ON DROPS, EVENTS AND STUFF! SIGN UP FOR OUR E-MAIL AND BE THE FIRST TO KNOW OUR SPECIAL OFFERS!</p>
    <div>
      <input type="text" id="email2" name="email" placeholder="ENTER E-MAIL" aria-label="enter mail" />
      <input type="submit" id="subscribe2" value="SUBSCRIBE" />
    </div>
  </div>
</div>

<style>
  .stortgrid {
    line-height: 1.5;
    padding: 10px;
  }
  .mobil p {
    color: #000000;
  }
  hr {
    color: white;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  .desktop {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #000000;
  }
  p {
    font-family: "AvenirNext";
    font-size: 12px;
  }

  #email {
    font-family: "AvenirNext";
    color: black;
    padding: 10px;
    padding-right: 25%;
    font-size: 12px;
  }

  #subscribe {
    background-color: #ab1727;
    font-family: "AvenirNext";

    padding: 11.5px;
    font-size: 12px;
    color: white;
  }

  ul {
    list-style-type: none;
    margin-left: -40px;
    font-size: 12px;
    font-family: "AvenirNext";
  }

  p {
    color: #ffffff;
  }

  @media screen and (min-width: 800px) {
    #subscribe :hover {
      color: black;
    }
    a:hover {
      color: #ab1727;
    }
    #email2 {
      width: 45%;
      padding: 10px;
    }

    #subscribe2 {
      padding: 10px;
      font-family: "AvenirNext";
      border-radius: 0%;
      background-color: #ab1727;
      color: #ffffff;
      border: none;
    }
    li {
      width: 25ch;
    }
    .some {
      grid-column: 4 / span 2;
    }
    .felt {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    ul {
    }
    .stortgrid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    .mobil {
      display: none;
    }
    .desktop {
      display: grid;
      grid-column: 4 / span 3;
      margin-left: 50px;
    }
    p {
      color: #000000;
    }
  }

  @media screen and (max-width: 1230px) {
    #email {
      width: 25%;
    }

    .desktop {
      grid-column: 3 / span 3;
    }
  }
</style>
