<div class="alt">
  <div class="tekst_billede">
    <h1>BALCOMmBE</h1>
    <h2>GET THE NEWS</h2>
  </div>
  <div class="mobil_billede"><img src="/billeder/forside3mobil.webp" alt="" /></div>
  <div class="desktop">
    <img src="/billeder/forside3billede2.webp" alt="" />
    <img src="/billeder/forside3billede1.webp" alt="" />
  </div>

  <form>
    <h3>SIGN UP FOR OUR NEWS</h3>
    <input type="text" id="email3" name="email" placeholder="ENTER E-MAIL" aria-label="enter mail" />
    <div class="checkboxmedtekst">
      <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" />
      <!--  HUSK AT ÆNDRE FARVE NÅR DER BLIVER TRYKKET -->
      <p class="checkboxtekst">By checking this box, i authorize the use of my personal data and will receive newsletters and other marketing communication</p>
    </div>
    <div class="knapmobil"><button>SUBSCRIBE</button></div>

    <div class="knapdesktop"><button>SUBSCRIBE</button></div>
  </form>
</div>

<style>
  @font-face {
    font-family: "MyFont";
    src: url("/NeonVampire.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  #checkbox:checked {
    background-color: black;
  }

  .alt {
    margin-left: 10px;
    margin-right: 10px;
  }

  #email3 {
    padding: 5px;
    font-size: 12px;
    color: #000000;
    font-family: "AvenirNext";
    border: solid #000000;
    background-color: #ffffff;
    width: 94.9%;
    margin-bottom: 20px;
  }
  #checkbox {
    width: 80%;
  }

  .checkboxtekst {
    font-family: "AvenirNext";
    font-size: 9px;
    display: grid;
    grid-column: 2 / span 4;
  }
  .checkboxmedtekst {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .knapdesktop {
    display: none;
    margin-top: 20px;
  }
  h3 {
    font-size: 20px;
    font-family: "AvenirNext";
    font-weight: 400;
    text-align: center;
  }
  form {
    position: absolute;
    margin-top: -75%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: solid #000000;
    padding: 20px;
    width: 70%;
  }
  .desktop {
    display: none;
  }
  h2 {
    display: none;
  }
  h1 {
    display: none;
  }
  .mobil_billede img {
    width: 100%;
    z-index: 1;
  }

  svg {
    position: absolute;
  }

  .knap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: -100px; /* HJÆÆÆÆÆLP, knappen skal "sidde fast, så man stadig kan se den når man hiver ud i siden*/
  }

  button {
    padding: 5px;
    font-size: 20px;
    color: #ffffff;
    font-family: "AvenirNext";
    border: none;
    background-color: #ab1f27;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
  }

  @media screen and (min-width: 800px) {
    button:hover {
      color: #000000;
    }
    .checkboxtekst {
      font-size: 8px;
    }

    #email3 {
      font-size: 1.38vw;
    }
    form {
      margin-top: -35%;
      width: 30%;
    }

    h3 {
      font-size: 2.4vw;
    }
    .knap {
      position: absolute;
      left: 80%;
      transform: translate(-50%);
      z-index: 2;
      margin-top: -20%;
    }

    button {
      padding: 5px;
      font-size: 1.75vw;
      width: 25vw;
    }
    .tekst_billede {
      margin-left: 40px;
    }
    .desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .desktop img {
      width: 100%;
    }

    h2 {
      display: block;
      position: absolute;
      z-index: 2;
      font-family: "AvenirNext";
      color: #ab1f27;
      font-weight: 400;
      font-size: 1.75vw;
      margin-top: 10%; /* kig */
    }
    h1 {
      position: absolute;
      display: block;
      color: #ab1f27;
      font-family: "MyFont", sans-serif;
      font-size: 9.896vw;
      margin-top: 10px;
    }

    .mobil_billede img {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    form {
      margin-top: -35%;
      width: 30%;
    }

    .checkboxtekst {
      font-size: 12px;
    }

    button {
      padding: 5px;
      font-size: 1.75vw;
      width: 26.7vw;
    }
  }
</style>
