<hr />
<!-- <div class="vl"></div>
<div class="vl2"></div>
<div class="vl3"></div> -->

<style>
  hr {
    height: 3px;
    color: #ab1f27;
    background-color: #ab1f27;
  }

  .vl {
    border-left: 6px solid #ab1f27;
    position: absolute;
    height: 500px;
    left: 50%;
    margin-top: -10px;
  }

  @media screen and (min-width: 800px) {
    .vl {
      left: 33.3%;
    }

    .vl2 {
      border-left: 6px solid #ab1f27;
      position: absolute;
      height: 500px;
      left: 66.6%;
      margin-top: -10px;
    }
  }

  @media screen and (min-width: 1250px) {
    .vl {
      left: 25%;
    }

    .vl2 {
      left: 50%;
    }
    .vl3 {
      left: 75%;
      border-left: 6px solid #ab1f27;
      position: absolute;
      height: 500px;
      margin-top: -10px;
    }
  }
</style>
