---
import Styles from "../Style/styles.css";
---

<script>
  const onLoad = () => {
    const burgerMenu = document.querySelector("#burger_menu");
    const menu = document.querySelector("#menu");
    const logo = document.querySelector("#logo");
    const allesvg = document.querySelector(".ikonerhvid");

    if (burgerMenu && menu) {
      burgerMenu.addEventListener("click", function () {
        console.log("Burger menu clicked");
        burgerMenu.classList.toggle("close");
        menu.classList.toggle("overlay");
        logo.classList.toggle("burger");
        allesvg.classList.toggle("svgblack");
      });
    }
  };

  onLoad();
</script>
<!-- <Styles /> -->
<header>
  <div class="grid">
    <button id="burger_menu" aria-label="burgermenu">
      <span></span>
    </button>

    <a id="logo" href="/"><p>BALCOmBE</p></a>

    <div class="ikonerhvid">
      <svg class="search_ikon" width="20" height="18" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M27.7791 26.8081L20.7322 19.7103C22.7417 17.3826 23.7755 14.36 23.6155 11.2796C23.4556 8.19919 22.1145 5.30167 19.8749 3.19781C17.6353 1.09394 14.6721 -0.0519081 11.6101 0.00180668C8.54803 0.0555215 5.6263 1.3046 3.46078 3.48574C1.29526 5.66689 0.0551239 8.60969 0.00179374 11.6938C-0.0515364 14.778 1.0861 17.7625 3.1749 20.0182C5.2637 22.274 8.14047 23.6248 11.1988 23.7859C14.2571 23.947 17.2581 22.9058 19.5691 20.8817L26.6161 27.9795C26.7721 28.1259 26.9784 28.2056 27.1916 28.2019C27.4048 28.1981 27.6082 28.1111 27.759 27.9592C27.9097 27.8074 27.9961 27.6025 27.9999 27.3877C28.0036 27.173 27.9245 26.9652 27.7791 26.8081ZM1.68693 11.9217C1.68693 9.89988 2.28218 7.92344 3.39741 6.24234C4.51265 4.56124 6.09777 3.25098 7.95233 2.47725C9.80689 1.70352 11.8476 1.50108 13.8164 1.89553C15.7852 2.28997 17.5936 3.26358 19.0131 4.69324C20.4325 6.1229 21.3991 7.94439 21.7907 9.92739C22.1823 11.9104 21.9814 13.9658 21.2132 15.8337C20.445 17.7017 19.1441 19.2982 17.475 20.4215C15.806 21.5448 13.8437 22.1443 11.8363 22.1443C9.14555 22.1411 6.56591 21.063 4.66323 19.1466C2.76056 17.2302 1.6902 14.6319 1.68693 11.9217Z"
          fill="white"></path>
        <path
          d="M27.7791 26.8081L20.7322 19.7103C22.7417 17.3826 23.7755 14.36 23.6155 11.2796C23.4556 8.19919 22.1145 5.30167 19.8749 3.19781C17.6353 1.09394 14.6721 -0.0519081 11.6101 0.00180668C8.54803 0.0555215 5.6263 1.3046 3.46078 3.48574C1.29526 5.66689 0.0551239 8.60969 0.00179374 11.6938C-0.0515364 14.778 1.0861 17.7625 3.1749 20.0182C5.2637 22.274 8.14047 23.6248 11.1988 23.7859C14.2571 23.947 17.2581 22.9058 19.5691 20.8817L26.6161 27.9795C26.7721 28.1259 26.9784 28.2056 27.1916 28.2019C27.4048 28.1981 27.6082 28.1111 27.759 27.9592C27.9097 27.8074 27.9961 27.6025 27.9999 27.3877C28.0036 27.173 27.9245 26.9652 27.7791 26.8081ZM1.68693 11.9217C1.68693 9.89988 2.28218 7.92344 3.39741 6.24234C4.51265 4.56124 6.09777 3.25098 7.95233 2.47725C9.80689 1.70352 11.8476 1.50108 13.8164 1.89553C15.7852 2.28997 17.5936 3.26358 19.0131 4.69324C20.4325 6.1229 21.3991 7.94439 21.7907 9.92739C22.1823 11.9104 21.9814 13.9658 21.2132 15.8337C20.445 17.7017 19.1441 19.2982 17.475 20.4215C15.806 21.5448 13.8437 22.1443 11.8363 22.1443C9.14555 22.1411 6.56591 21.063 4.66323 19.1466C2.76056 17.2302 1.6902 14.6319 1.68693 11.9217Z"
          stroke="white"></path>
      </svg>

      <input type="text" id="search" name="search" placeholder="SEARCH" />
      <a href="login" aria-label="login"
        ><svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.65578 0.796387C9.74217 0.796079 10.8 1.11802 11.6742 1.71496C12.5483 2.31189 13.1926 3.15239 13.5125 4.11307C13.8324 5.07376 13.8111 6.10405 13.4517 7.05271C13.0923 8.00137 12.4138 8.81845 11.5156 9.38401C13.0745 9.9131 14.4266 10.8618 15.3979 12.108C16.3692 13.3542 16.9152 14.8409 16.9655 16.3767C16.9703 16.4619 16.9565 16.5472 16.9251 16.6275C16.8938 16.7077 16.8454 16.7814 16.7828 16.8441C16.7203 16.9069 16.6448 16.9574 16.5609 16.9928C16.4769 17.0282 16.3862 17.0477 16.294 17.0502C16.2018 17.0527 16.11 17.0381 16.0239 17.0074C15.9379 16.9766 15.8593 16.9302 15.7929 16.871C15.7265 16.8118 15.6735 16.7409 15.6371 16.6624C15.6007 16.584 15.5816 16.4996 15.5809 16.4143C15.5259 14.7488 14.7722 13.1685 13.4796 12.0084C12.187 10.8483 10.457 10.1995 8.65624 10.1995C6.8555 10.1995 5.12551 10.8483 3.83289 12.0084C2.54027 13.1685 1.7866 14.7488 1.73159 16.4143C1.72608 16.5843 1.6478 16.7453 1.51398 16.862C1.38016 16.9786 1.20176 17.0412 1.01802 17.0361C0.834281 17.031 0.660257 16.9586 0.534232 16.8348C0.408207 16.7109 0.340503 16.5458 0.346015 16.3758C0.396587 14.8402 0.94264 13.3537 1.9139 12.1077C2.88516 10.8616 4.23717 9.91304 5.79595 9.38401C4.89781 8.81845 4.21924 8.00137 3.85984 7.05271C3.50044 6.10405 3.47914 5.07376 3.79907 4.11307C4.11899 3.15239 4.76329 2.31189 5.6374 1.71496C6.51152 1.11802 7.5694 0.796079 8.65578 0.796387ZM4.96091 5.49749C4.96091 6.40426 5.35019 7.27389 6.04311 7.91507C6.73604 8.55625 7.67584 8.91647 8.65578 8.91647C9.63572 8.91647 10.5755 8.55625 11.2685 7.91507C11.9614 7.27389 12.3507 6.40426 12.3507 5.49749C12.3507 4.59072 11.9614 3.72108 11.2685 3.0799C10.5755 2.43872 9.63572 2.0785 8.65578 2.0785C7.67584 2.0785 6.73604 2.43872 6.04311 3.0799C5.35019 3.72108 4.96091 4.59072 4.96091 5.49749Z"
            fill="white"></path>
        </svg></a
      >
      <a href="saved" aria-label="saved"
        ><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.99135 2.33892C8.0611 1.35125 6.7994 0.796387 5.48383 0.796387C4.16825 0.796387 2.90656 1.35125 1.9763 2.33892C1.04605 3.32659 0.523438 4.66615 0.523438 6.06292C0.523438 7.45969 1.04605 8.79926 1.9763 9.78693L9.32729 17.1872L9.78226 17.6478L17.575 9.80097C18.5068 8.81516 19.0317 7.47672 19.034 6.08008C19.0364 4.68344 18.5161 3.34301 17.5876 2.35366C16.6591 1.36432 15.3984 0.807108 14.083 0.804606C12.7675 0.802105 11.505 1.35452 10.5732 2.34032L9.78226 3.18005L8.99135 2.33892ZM2.89947 8.7801C2.22183 8.05511 1.84267 7.07438 1.84515 6.053C1.84763 5.03162 2.23155 4.05297 2.9127 3.33171C3.59479 2.60755 4.51989 2.20073 5.48449 2.20073C6.44909 2.20073 7.37419 2.60755 8.05628 3.33171L9.78226 5.16562L11.5083 3.33171C12.1905 2.60734 13.1158 2.2004 14.0807 2.2004C15.0456 2.2004 15.9709 2.60734 16.6532 3.33171C17.3354 4.05607 17.7187 5.03852 17.7187 6.06292C17.7187 7.08733 17.3354 8.06978 16.6532 8.79414L9.78226 15.7099L2.89947 8.7801Z"
            fill="white"></path>
        </svg></a
      >
      <a href="cart" aria-label="cart"
        ><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M16.5279 4.78194H13.2335C13.2335 3.72491 12.817 2.71117 12.0756 1.96373C11.3342 1.21629 10.3287 0.796387 9.28023 0.796387C8.23176 0.796387 7.22623 1.21629 6.48486 1.96373C5.74348 2.71117 5.32697 3.72491 5.32697 4.78194H2.0326C1.68311 4.78194 1.34793 4.92191 1.1008 5.17106C0.853678 5.4202 0.714844 5.75812 0.714844 6.11046V16.0743C0.714844 16.4267 0.853678 16.7646 1.1008 17.0138C1.34793 17.2629 1.68311 17.4029 2.0326 17.4029H16.5279C16.8774 17.4029 17.2125 17.2629 17.4597 17.0138C17.7068 16.7646 17.8456 16.4267 17.8456 16.0743V6.11046C17.8456 5.75812 17.7068 5.4202 17.4597 5.17106C17.2125 4.92191 16.8774 4.78194 16.5279 4.78194ZM9.28023 2.12491C9.97921 2.12491 10.6496 2.40484 11.1438 2.90313C11.6381 3.40142 11.9157 4.07725 11.9157 4.78194H6.64473C6.64473 4.07725 6.92239 3.40142 7.41665 2.90313C7.9109 2.40484 8.58125 2.12491 9.28023 2.12491ZM16.5279 16.0743H2.0326V6.11046H5.32697V7.43898C5.32697 7.61515 5.39639 7.78411 5.51995 7.90868C5.64352 8.03325 5.81111 8.10324 5.98585 8.10324C6.16059 8.10324 6.32818 8.03325 6.45175 7.90868C6.57531 7.78411 6.64473 7.61515 6.64473 7.43898V6.11046H11.9157V7.43898C11.9157 7.61515 11.9851 7.78411 12.1087 7.90868C12.2323 8.03325 12.3999 8.10324 12.5746 8.10324C12.7494 8.10324 12.9169 8.03325 13.0405 7.90868C13.1641 7.78411 13.2335 7.61515 13.2335 7.43898V6.11046H16.5279V16.0743Z"
            fill="white"></path>
        </svg></a
      >
    </div>

    <nav id="menu">
      <ul>
        <input type="text" id="search2" name="search" placeholder="SEARCH" />
        <li><a href="allitems">SHOP</a></li>
        <li><a href="about">ABOUT</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  @font-face {
    font-family: "MyFont";
    src: url("/NeonVampire.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  #search2 {
    display: none;
  }
  #search {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #ab1f27;
    font-size: 20px;
    font-family: Avenir Next;
    margin-bottom: 58px;
    max-width: 200px;
  }

  button:hover {
    color: var(--red);
  }

  a {
    color: #ffffff;
  }
  a:hover {
    color: #000000;
  }

  .ikonerhvid a svg {
    fill: #ffffff;
    transition: fill 0.3s;
  }

  .ikonerhvid a:hover svg {
    fill: #000000;
  }
  .grid {
    display: flex;
  }

  /* Styling på logo (font-face ligger i style.css*/
  a p {
    display: block;
    font-size: 1.5rem;
    font-family: "MyFont", sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 8.5625rem;
    z-index: 2;
    margin-top: 25px;
  }
  .ikonerhvid {
    display: block;
    position: absolute;
    margin-top: 22px;
    right: 35px;
    z-index: 2;
  }

  #logo {
    display: flex;
  }

  #burger_menu {
    text-indent: -9999px;
    border: none;
    background: transparent;
    margin: 25px;
    cursor: pointer;
    height: 27px;
    width: 27px;
    position: relative;
    z-index: 2;
    padding: 10px;
  }

  #burger_menu img {
    height: auto;
    width: 100px;
    display: block;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-family: Avenir Next;
    margin-top: 25px;
    margin-left: 22px;
  }

  #menu a {
    text-decoration: none;
    color: #ffffff;
  }

  #menu a:hover {
    color: #000000;
    transition: 0.1s;
  }

  #menu {
    margin-left: -110px;
  }

  @media screen and (max-width: 800px) {
    .burger {
      color: #000000;
    }

    .svgblack {
      stroke: black;
    }
    .b .search_ikon {
      display: none;
    }

    #search {
      display: none;
      font-size: 12px;
      color: #000000;
      background-color: #ffffff;
      border-color: #000000;
      margin-bottom: 58px;
    }
    #search2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-color: #000000;
      background-color: #ffffff;
      font-size: 12px;
      font-family: Avenir Next;
      margin-bottom: 58px;
      text-align: center;
    }

    ul {
      list-style: none;
      display: block;
      gap: 20px;
      font-size: 20px;
      font-family: Avenir Next;
    }

    a {
      color: #ffffff;
    }

    #burger_menu {
      display: block;
    }
    #burger_menu span,
    #burger_menu span:before,
    #burger_menu span:after {
      background: #ffffff;
      display: block;
      height: 3px;
      position: absolute;
      content: "";
    }
    #burger_menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger_menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger_menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
      border: #000000;
    }
    #burger_menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: #000000;
      border: #000000;
    }
    #burger_menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: #000000;
      border: #000000;
    }
    #burger_menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: #000000;
    }
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 250px;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      margin-left: 0;
      border-bottom: solid #000000;
      left: 0;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: #ffffff;
    }

    #menu ul {
      padding: 0;
    }
    #menu li {
      list-style: none;
      display: initial;
    }
    #menu a {
      color: #000000;
      display: block;
      font-size: 12px;
      margin-bottom: 58px;
      text-decoration: none;
    }

    .ikonerhvid {
      margin-top: 29px;
    }
  }
</style>
