<section>

<h1>TERMS & CONDITIONS</h1>

<h2>YOUR PRIVACY WITH US</h2>
<p>Welcome to the Balcombes website.</p>

<p>We need the following information when you use our website for shopping: 
Name, address, telephone number and e-mail address.</p>

<p>We only registrate and pass on personal data necessary for delivering the products to you. BALCOMBE ApS collects and processes personal information under the existent law on collecting personal data.</p>

<p>BALCOMBE prioritises data privacy and confidence. At the same time, we want to give you the best possible experience when you visit our website. Therefore, we collect and use information when you shop in our webshop, including expediting your order and registering your preferred functions, etc., as well as sending marketing material and other information on our products and activities if you have given us your explicit consent.</p>

<p>Finally, your information can be used to investigating suspicion of fraud. The personal data collected is name, telephone number, e-mail address, postal address and information on your purchase. For safety reasons, we do not save credit card or other payment information.</p>

<p>We save your e-mail address to i.a. send you an order confirmation as well as notice you when your order has been shipped. Your name and address will show on a label of your package with your order. The data is registered at BALCOMBE ApS and will be kept for a period of five years. Afterwards the information will be deleted.</p>

<p>We cooperate with different companies which process and file data. These companies process data solely on our behalf and may not use personal data for their own purposes. We cooperate solely with data processors within EU or within countries which provide the same level of protection.</p>

<p>The data controller on balcombe.life is (CEO/Thor Fridriksson). You have the right to get access to information registered about you. If you believe the information to be incorrect you have the right to have the information rectified. In some cases we will have to delete your data if requested by you. It could for example be if the information is no longer necessary to the purpose we originally needed it for. </p>

<p>Please contact us if you feel your personal data is not processed according to legislation. Inquiries about this must be send to BALCOMBE ApS via e-mail: thor@balcombe.life. We only disclosure your information with partners such as freight companies and the external warehouse of Balcombe Aps (System Transport) to the extent that it is necessary to fulfil your order.</p>

<p>Balcombe Aps processes personal data for marketing purposes under the existent laws, including the requirement to collecting your consent before sending out electronic marketing material. Customer and order data are protected by encryption during transmission and the subsequent storing.</p>

<p>Balcombe Aps uses Secure Socket Layers (SSL), the industrial standard for transmitting information to process your order. You have the right to, upon request, be informed which information we have registered of you and take exception to a registration according to the personal data protection act. If the information is wrong, incomplete or irrelevant, you have the right to have the information corrected or deleted.</p>

<p>BALCOMBE ApS saves personal data and relevant purchase data for five years according to the bookkeeping law. If you want more information or wish to change your personal data, you are welcome to contact us. You can either write us at our address:</p>

<p>Balcombe ApS</p>
<p>Ole Suhrs Gade 18</p>
<p>1354 Copenhagen K</p>

<p>Contact us via phone +45 41 13 68 31 </p>
<p>E-mail. Sarah.paaschburg@gmail.com</p>

<h2>GDPR – (General Data Protection Regulation) Which data do we have on you?</h2>
<p>The data we collect on you is your name, address, e-mail and phone number submitted by the consumers themselves when placing an order in our webshop or by signing up to our newsletter.</p>

<h2>What is purpose with the data? </h2>
<p>Collecting these data is necessary to be able to send your order or newsletter to you. The data we collect from the Balcombe webshop comes solely from the information you chose to give to us when ordering online or by signing up to our newsletter.</p>

<h2>Can I get access to my Personal Data?  </h2>
<p>You can always get information about your personal data in accordance to “The Right of Access by the Data Subject” (GDPR). If you wish to exercise your right, you need to contact us by sending an email to: thor@balcombe.life. We will strive to answer you request within 4 weeks maximum – 3 months. Please note: The right to access by the data subject is applicable in most cases, but there exist exceptions in special cases. </p>
<p>If you believe you do not receive the information you are entitled to, you can exercise your right of access by making a complaint to the Danish Data Protection Agency. If you have further question, please do not hesitate to contact us.</p>

</section>

<style>
h1 {
font-size: 24px;
color: #ab1f27;;
text-align: center;
}
h2 {
font-size: 20px;
color: #ab1f27;
}

p {
font-size: 15px;
color: #ab1f27;
line-height: 20px;
}
</style>